
html, body {
	margin: 0; padding: 0;
	background-color: rgb(238,238,238);
}
body {
	font: normal 400 14pt/1.4 "Georgia Pro", Georgia, serif;
}
p {
	margin: 0.75em 0 0;
}

a {
	text-decoration: none;
	color: rgb(57,99,159);
	border-bottom: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	-webkit-text-decoration-style: dotted; text-decoration-style: dotted;
}


/* Classes */

.reduced {
	max-width: 70%;
	height: auto;
}

.reduced-less {
	max-width: 100%;
	height: auto;
}

.reduced-more {
	max-width: 60%;
	height: auto;
}

ul.navi {
	margin: 0; padding: 0;
	list-style-type: none;
	color: rgba(255,255,255,0.5);
}
.navi li:before, .navi li:hover:before, .navi li::before, .navi li:hover::before {
	content: "•";
	margin: 0 0.5em;
	text-decoration: none;
}

/* Header & Footer */
header {
	font: normal 300 15pt/1.4 "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header h1, header h2 {
	font-weight: 200;
}
header h1 {
	margin: 0 0 0.35em;
	font-size: 1.5em;
}
header h1 em {
	font-weight: 500;
}
header h2 {
	color: rgba(255,255,255,0.6); letter-spacing: normal;
}
header a {
	color: white;
}

#header {
	padding: 0;
}
#nav {
	font-family: "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;
}
#nav > ul > li.current {
	font-weight: 400;
}

#banner {
	font-family: "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;
	background: white;
}
#banner header {
	padding: 1.25em 0;
}
#banner img.overview {
	max-width: 100%;
}

footer {
	min-height: 6em;
	margin: 0; padding: 2em 0 4em;
	font-size: 0.8em; text-align: center;
	border-top: 1px solid rgb(160,160,160);
}
footer a:link, a:hover, a:visited {
	-webkit-text-decoration-style: none; text-decoration-style: none;
}

footer p {
	margin-top: 2em;
}
footer p:first-child {
	margin-top: 0;
}


/* Dynamic Layout */

/* phones */
@media screen and (max-width: 480px) {
	body {
		font-size: 12pt;
	}
	h1, h2, h3, h4, h5 {
		line-height: normal;
	}
	header h1 {
		margin: 0 0 0.5em;
	}
	#banner {
		height: 18em;
	}
	#banner header {
		padding-left: 15px; padding-right: 15px;
		font-size: 11pt;
	}
	#banner img.overview {
		padding: 10px 15px;
	}
	.institute {
		width: 220px;
	}
}

/* tablets and up */
@media screen and (min-width: 480px) {
	.navi li {
		display: inline-block;
	}
	.navi li:first-child:before, .navi li:first-child::before {
		content: "";
	}
}

/* tablets */
@media screen and (min-width: 480px) and (max-width: 1024px) {
	body {
		font-size: 12pt;
	}
	h1 {
		font-size: 1.7em;
	}
	header {
		padding: 0.5em 20px 0.33em;
		font-size: 13pt;
	}
}

/* standard */
@media screen and (max-width: 1280px) {
	#banner img.overview {
		max-height: 12em;
	}
}

@media screen and (min-width: 1680px) {
	#banner {
		height: 24em;		/* override main.css */
	}
	header h1 {
		margin-bottom: 0;
		font-size: 1.7em;
	}
}


