<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title|default("C3-PRO") }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

		<link rel="icon" href="images/favicon.png" type="image/png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/Logo-76.png"><!-- non-retina iPad iOS 7+ -->
		<link rel="apple-touch-icon" sizes="120x120" href="assets/Logo-60@2x.png"><!-- retina iPhones @2x iOS 7+ -->
		<link rel="apple-touch-icon" sizes="152x152" href="assets/Logo-76@2x.png"><!-- retina iPads iOS 7+ -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/Logo-60@3x.png"><!-- retina iPhones @3x iOS 7+ -->

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="msapplication-TileColor" content="rgb(57,99,159)">
		<meta name="msapplication-TileImage" content="assets/Logo-144.png">
		
		<link rel="stylesheet" href="static/font-awesome.min.css" />
		<link rel="stylesheet" href="static/style.css" />
	</head>
	<body>
		<header>
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">C3-PRO</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="http://c-tracker.chip.org/" target="_blank">C&nbsp;Tracker</a></li>
				</ul>
			</nav>
		</header>
		
		{%- block content %}
		{%- endblock %}
		
		<footer>
		    <p>
		    	<a href="http://www.chip.org">
		        	<img class="institute" src="images/Institute-web.png" srcset="images/Institute-web@2x.png 2x, images/Institute-web@3x.png 3x" alt="Computational Health Informatics Program, Boston Children's Hospital">
		    	</a>
			</p>
		    <p>Copyright © Boston Children's Hospital 2016</p>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	</body>
</html>
