<footer>
    <p>
    	<a href="http://www.chip.org">
        	<img class="institute" src="images/Institute-web.png" srcset="images/Institute-web@2x.png 2x, images/Institute-web@3x.png 3x" alt="Computational Health Informatics Program, Boston Children's Hospital">
    	</a>
	</p>
    <p>Copyright © Boston Children's Hospital 2016</p>
    <p class="small">
    	FHIR® is the registered trademark of HL7 and is used with the permission of HL7.<br>
    	The Flame Design mark is the registered trademark of HL7 and is used with the permission of HL7.
    </p>
</footer>
