{% extends "base.html" %}

{% block title %}C3-PRO{% endblock %}

{% block content %}
<!-- Banner -->
<section id="intro">
	<div class="boxed oneline vcenter">
		<div class="banner_img">
			<img src="images/Logo.png" srcset="images/Logo@2x.png 2x, images/Logo@3x 3x" alt="C3-PRO">
		</div>
		<div class="banner_name">
			<h1>The <b>C</b>onsent, <b>C</b>ontact and <b>C</b>ommunity framework for <b>P</b>atient <b>R</b>eported <b>O</b>utcomes</h1>
			<h2>A set of <a href="http://www.hl7.org/fhir/" target="_blank">FHIR<sup>®</sup></a> compliant research software tools for <a href="http://researchkit.org/" target="_blank">ResearchKit</a> and <a href="http://researchstack.org/" target="_blank">ResearchStack</a></h2>
			</div>
	</div>
</section>

<!-- Highlights -->
<section id="whatis" class="wrapper">
	<div class="boxed oneline">
		<div class="highlight">
			<i class="icon major fa-cogs"></i>
			<h3>What is C3-PRO?</h3>
			<p>C3-PRO is a set of <a href="http://www.hl7.org/fhir/">FHIR<sup>®</sup></a> compliant software tools and systems that enables integration of biomedical research data collected via <a href="http://researchkit.org/">ResearchKit</a> and <a href="http://researchstack.org/" target="_blank">ResearchStack</a> into <a href="https://www.i2b2.org/">i2b2</a> and other databases in a secure, highly scalable fashion.
			</p>
		</div>
		<div class="highlight">
			<i class="icon major fa-wrench"></i>
			<h3>For Developers</h3>
			<p>Source code for all components is available on GitHub. We've set up a Google Group for discussions and updates, feel free to stop by and ask questions.</p>
			<p><a class="further_reading" href="https://groups.google.com/forum/#!forum/c3-pro-developers" target="_blank">» Google Group</a></p>
		</div>
		<div class="highlight">
			<i class="icon major fa-cubes"></i>
			<h3>Modules!</h3>
			<p>The ecosystem supporting mobile research is expanding, and the list of modules that plug in to C3-PRO is growing. See the <a href="#architecture">architecture</a> overview below to find software modules that suit your needs.</p>
		</div>
	</div>
</section>

<!-- Publication -->
<section id="citation" class="wrapper">
	<div class="boxed">
		<h2>Open Source, Open Access</h2>
		<div class="oneline vcenter">
			<div>
				All components of C3-PRO are available open source, <strong>Apache 2</strong> licensed.<br>
				<br>
				Presentations, publications, print and online materials should <strong>cite</strong> the <strong>C3-PRO <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0152722" target="_blank">PLoS ONE</a> publication</strong> as shown <span class="sections-do-wrap">below</span><span class="sections-are-columns">to the right</span>.
				To acknowledge the use of C3-PRO in your software, please refer to the respective <code>NOTICE</code> file.
			</div>
			<div>
				<pre class="citation">
					Pfiffner PB, Pinyol I, Natter MD, Mandl KD (2016) C3-PRO: Connecting ResearchKit to the Health System Using i2b2 and FHIR. PLoS ONE 11(3): e0152722. doi:10.1371/journal.pone.0152722.
				</pre>
			</div>
		</div>
	</div>
</section>

<!-- Architecture -->
<section id="architecture" class="wrapper">
	<div class="boxed">
		<h2>Architecture</h2>
		<p>
			There are various software modules that make up the C3-PRO toolchain, starting with frameworks to be embedded into your <i>mobile app</i>, over server pieces that live in the <i>www</i>, aka, “wild wild web”, to modules living behind a firewall and writing data to your backend.
		</p>
	</div>
	<div class="boxed oneline">
		<h3>Mobile</h3>
		<h3>World Wide Web</h3>
		<h3>In-House</h3>
	</div>
	<div class="boxed oneline">
		<div class="column">
			Foo
		</div>
		<div class="column">
			Bar
		</div>
		<div class="column">
			Hat
		</div>
	</div>
	
	<div class="boxed">
	{{ architecture }}
	</div>
</section>
{% endblock %}
